
.TopMenuBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


#TopLogo{
    float:left;
    margin-left:10%;
}
#TopMenu{
    float:right;
    margin-right:10%;
    margin-top : 10px;
   }

.TopMenuBar li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

/*메뉴바 마우스 오버 이벤트*/
/*
.TopMenuBar li a:hover {
    background-color: #111;
}*/
